.logo img {
    object-fit: scale-down;
    width: 50px;
    height: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header, .footer {
    background-color: #1F2937;
    font-size: 18px;
}